@{
    ViewData["Title"] = "Welcome to the About Page"; 

    var studentName = "Billy Boodoo";
    var studentNumber = "100867424";
    var courseCode = "COMP2139";
    var courseSection = "CRN: 18132";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <br/>
</div>

<div>
    
    <p>&#9830; Student Name: @studentName</p>
    <p>&#9830; Student Number: @studentNumber</p>
    <p>&#9830; Course Code: @courseCode</p>
    <p>&#9830; Course Section: @courseSection</p>
    
</div>